.chart {
    height: 50%;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid silver;
}

#last-chart {
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid silver;
}

table {
    width: 100%;
    margin: 0 auto;
}

div#radar-description {
    /* height: 50%; */
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid silver; */
}

div.container {
    /* height: 45vw;
    width: 100%; */
    border: 1px dashed black;
}

div#test {
    color: blue;
}

h1 {
    font-style: serif;
}

#map {
    /* width: 100%; */
    border: 1px solid black;
    margin: 0 auto;
}